
    	.headImageDiv{
    		margin-left: 25px;
    		margin-right: 25px;
    		padding-top: 25px;
    		text-align: center;
    	}
    	.headImageDiv img{
    		
    		border-width: 2px;
    		border-style: solid;
    		border-color: #1b1c17;
    		border-radius: 7px;
    	}
    	h1{
    		font-size: 50px;
    		text-align: center;
    		font-family: "Lucida Console", "Courier New", monospace;
    		color: #1b1c17;
    	}
    	h3{
    		font-size: 22px;
    		padding-top: 8px;
    		padding-bottom: 8px;
    		color: #575550;
    		text-align: center;
    		border-bottom-style: dotted;
    		border-top-style: dotted;
    	}
    	body{

    		background-image: url(imgs/www.png) , url(imgs/www.png),url(imgs/www.png),url(imgs/www.png);
    		background-position: top 0px left 70px , top 0px right 70px, top 0px left 300px,top 0px right 300px;
    		background-repeat: no-repeat;
    		background-size: 100px;
    		background-color: #1b1c17;
    		background-attachment: fixed;
    		font-family: Arial, Helvetica, sans-serif;
    	}
    	main{
    		margin-top: 40px;
    		background-color: #cec9c3;
    		margin-left: 250px;
    		margin-right: 250px;
    		border-top-right-radius: 15px;
    		border-top-left-radius: 15px;
    	}
    	.navDiv{
    		margin-left: 250px;
    		padding-top: 15px;
    		padding-bottom: 15px;
    		background-color: #1c2534;
    		color: #cec9c3;
    		border-top-left-radius: 20px;
    		border-bottom-left-radius: 20px;
    		background-image: url(imgs/wwwVertical.png);
    		background-size: 140px;
    		background-repeat: no-repeat;
    		background-position: right;
    	}
    	a:link {
			font-size: 15px;
		 	color: #cec9c3;
		 	 	
		}
		a:hover{
			color: whitesmoke;
		}
		a:visited{
			color: green;
		}

		.h2DivClass{
			margin-top: 25px;
			width: 300px;
			text-align: left;
			background-color: #1b1c17;
			color: #cec9c3;			
			padding: 2px 0px 2px 15px;
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
		}
		.h2DivClass:hover{
			margin-top: 25px;
			width: 1000px;
			text-align: center;
			background-color: #1b1c17;
			color: #cec9c3;			
			padding: 2px 0px 2px 15px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
		}
		p{
			padding-left: 30px;
			padding-right: 30px;
			text-align: center;
			color: #1b1c17;
			font-weight: bolder;
		}
		.bottomP{
			padding-top: 15px;
			padding-bottom: 15px;
			background-color: #1b1c17;
			color: #cec9c3;
		}
		.tableDiv{
			margin-left: 280px;
			align-items: center;
			text-align: center;

		}
		footer{
			margin-left: 250px;
			margin-right: 250px;
			background-color: #cec9c3;
			border-bottom-left-radius: 15px;
			border-bottom-right-radius: 15px;
		}
		.emViqi{
			color: #1b1c17;
		}
		footer p a:link{
			color: #1b1c17;
		}
		footer p a:hover{
			color: whitesmoke;
		}
		.practicaRealizada p{
			color: #1b1c17;
			padding-bottom: 15px;
		}
		.ulDe4{
			margin-left: 30px;
			margin-right: 30px;
			border-radius: 15px;
			padding-top: 15px;
			padding-bottom: 15px;
			border-style: dotted;
		}
		.footerDivWikipediaUrl{
			text-align: center;
		}
		.footerDivWikipediaUrl a:link{
			color: #1b1c17;
			font-weight: bolder;			
		}	
		.footerDivWikipediaUrl a:hover{
			color: whitesmoke;		
		}

		.goUpDiv{
			margin-top: -20px;
			text-align: right;
		}
		ol li a:link{
			font-size: 1.3em;
		}
		ul li a:link{
			font-size: 1em;
		}

		.practicaRealizada strong{
			color: green;
		}